<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="theme.css">
</head>
<body>

    <div class="container" id = "app">
        <div class="card">
            <h1>{{title}}</h1>

            <div class="form-control">
                <input type="text"
                       v-model="inputValue"
                       :placeholder="placeholderValue"
                       @keypress.enter = "addNote"/>

            </div>

            <button class = "btn" :class = "inputValue.length > 10 && 'danger'" @click = "addNote"> ADD </button>

            <hr/>

            <ul v-if="notes.length" class = "list">

                <li class = "list-item" v-for="(note, index) in notes" :key = "note">

                    <span :class = "{
                        'primary':true,
                        'bold': note.length > 10
                    }">
                        {{index+1 + ")  " + textToUpperCase(note)}}
                    </span>
                    <button class = "btn danger" @click = "deleteNote(index, $event)">Delete</button>

                </li>
                <hr>
                <li>
                    Общее количество: {{notes.length}} | Удвоенное : {{doubleCountComputed}}
                </li>
            </ul>
            <div v-else>
                <h2>А постов то больше и нет</h2>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src = "app.js"></script>
</body>
</html>